/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

h1, h2 {
  font-weight: var(--main-font-text-weight);
  text-align: center;
}

h1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

button {
  padding: 0;
  background: none;
  border: none;
}

button:focus-visible {
  outline: none;
}

.page {
  background-color: var(--main-background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--main-font-text-weight);
}

.header {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-background-color);
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  font-family: var(--accent-font-family);
  border: solid 2px var(--accent-color);
  text-transform: uppercase;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  margin: 100px auto;
}

.main-list {
  margin: 0 auto;
  width: var(--list-size);
}

.main-list li {
  background-color: var(--main-background-color);
  border: solid 2px var(--accent-color);
  font-size: var(--card-font-size);
  margin-bottom: 50px;
}

.main-list h3 {  
  font-variation-settings: 'wght' var(--main-font-header-weight);
  line-height: 1.2em;
  padding: 5px 10px;
  font-size: var(--card-header-font-size);  
}

.main-list .card-picture {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.main-list .card-picture img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.main-list .image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: var(--normal-font-size);
  opacity: .5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color), 1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
}

@supports((text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color))) {
  .main-list .card-picture .image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
} 

.card-description {
  padding: 25px;
}

.card-description p {
  padding-bottom: 25px;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 0.5), 0px 0px 1px rgb(0 0 0 / 0.1);
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.card__icon-button {
  margin-right: 5px;
  border: solid 2px transparent;
  line-height: 0px;
}

.card__icon-button:focus-visible {
  opacity: none;
  border-color: var(--accent-color);
  transition: border-color .3s ease;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.common-button {
  font-family: var(--accent-font-family);
  font-size: var(--normal-font-size);
  border: solid 2px var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 0.9;
  background: var(--main-background-color);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}

.common-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.common-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--button-hover-background);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.common-button:hover::before {  
  transform: scaleX(1);
}

.buttons-container .common-button {
  width: 130px;
}

.buttons-container .button__text {
  display: flex;
  align-items: center;
  padding: 0 37px;
  height: 100%;
}

.img1 {
  filter: brightness(.9);
}

.img2 {
  filter: contrast(.8);
}

.img3 {
  filter: blur(.03rem);
}

.img4 {
  filter: grayscale(.3);
}

.img5 {
  filter: hue-rotate(-90deg);
}

.img6 {
  filter: saturate(200%);
}

.img7 {
  filter: sepia(20%);
}

.img8 {
  filter: invert(0.2) sepia(10%) brightness(1.1);
}

.save {
  display: flex;
  justify-content: center;
}

.save button {
  padding: 16px 20px;
  gap: 8px;
}

.save button svg {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  stroke: var(--button-text-color);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

dialog[open] {
  padding:30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 40px 1fr;
  grid-template-rows:  1fr 38px;
  width: 353px;
  height: 191px;
  font-family: var(--accent-font-family);
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  line-height: 1.5;
}

dialog[open] button {
  outline: solid 2px var(--accent-color);
  grid-column: span 2;
}

dialog .floppy-container {
  display:flex;
  align-items: center;
}


.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-active-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-active-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-active-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--heart-active-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-active-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked {
  animation-name: heart-scale;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes heart-scale {
  0% {
    transform: scale(1.25);
  }
}

@keyframes heart-sparks {
  100% {
    opacity: 1;
  }
} 

@media (width <= 375px) {
  .header {
    width: 100%;
  }

  h1 {
    font-size: clamp(2.5rem, 2.125rem + 4vw, 3.0625rem);
  }

  .main-list {
    width: 100%;
  }

  .save button {
    flex-direction: column;
  }

  .save button svg {
    width: 28px;
    height: 28px;
  }
}