/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background-image: url(../images/bckg.png);
  --background-gradient-from: #E7E7E7;
  --background-gradient-to: #1A1A1A;
  --main-font-family: 'Inter-Variable', sans-serif;  
  --accent-font-family: 'PressStart2P-Regular', sans-serif;
  --main-font-text-weight: 400;
  --main-font-header-weight: 700;
  --main-color: #000;
  --normal-font-size: 14px;

  --main-background-color: #FFF;
  --header-font-weight: 400;
  --list-item-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  --label-stroke-color: #FFF;
}